/*Side Bar Menu*/

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #2B7BB9;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding-top: 8px;
  padding-left: 4%;
  text-decoration: none;
  font-size: 35px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #757575;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}


/*HomepageMap*/

.homepageMap {
  position: relative;
  padding-bottom: 75%;
  height: 0;
  overflow: hidden;
}

.homepageMap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}


/* Buttons */

.home.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2B7BB9);
  background-image: -moz-linear-gradient(top, #3498db, #2B7BB9);
  background-image: -ms-linear-gradient(top, #3498db, #2B7BB9);
  background-image: -o-linear-gradient(top, #3498db, #2B7BB9);
  background-image: linear-gradient(to bottom, #3498db, #2B7BB9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.home.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}


/*Tweets on Homepage*/

.twitterColumn {
  padding: 0;
}

.wrapperTwitter {
  margin-top: 0;
  height: 100vh;
}

.homepageTwitter {
  height: 100%;
  overflow: auto;
  text-align: center;
}

#cover {
  background-size: cover;
  background-repeat: no-repeat;
}


/*Style Map in Legend Page*/

.legendNameHeader {
  text-align: center;
  color: #2B7BB9;
}

.legendMap {
  height: 83vh;
  width: 65vw;
}


/*Style Reviews in Legend Page*/

.reviewColumn {
  width: 30vw;
  margin-top: 0;
  height: 100vh;
}

.reviewWrapper {
  height: 95%;
  overflow: auto;
}

.speech-bubble {
  position: relative;
  background: #2B7BB9;
  border-radius: .4em;
  color: #FDFEFE;
}

.textWrapper {
  padding-left: 1.5em;
}


/*Media Queries on Home page and Legend Page*/


/*Small screen phone*/

@media screen and (max-width: 375px) {
  .legendMap {
    width: 90vw;
  }
  .reviewColumn {
    width: 100vw;
  }
  .descriptionHeader, .routesHeader {
    font-size: 2em;
  }
  .descriptionDetail, .routesList {
    font-size: 1em;
  }
}


/*Large screen phone*/

@media screen and (max-width: 425px) {
  .legendMap {
    width: 95vw;
  }
  .reviewColumn {
    width: 100vw;
  }
  .descriptionDetail, .routesList {
    font-weight: 500;
  }
}


/*Tablet*/

@media screen and (max-width: 768px) {
  .legendMap {
    width: 96vw;
  }
  .reviewColumn {
    width: 100vw;
  }
  .descriptionDetail, .routesList {
    font-weight: 600;
  }
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
