/*Side Bar Menu*/

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #000080;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}


/*HomepageMap*/

.homepageMap {
  position: relative;
  padding-bottom: 75%;
  height: 0;
  overflow: hidden;
}

.homepageMap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}


/*Tweets on Homepage*/

.col-md-4 {
  padding: 0;
}

.wrapperTwitter {
  margin-top: 0;
  height: 100vh;
}

.homepageTwitter {
  height: 100%;
  overflow: auto;
  text-align: center;
}

#cover {
  background-size: cover;
  background-repeat: no-repeat;
}
