<h2>Welcome to Traffic Tracker</h2>
<div class="homepageMap">

    <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1XtWfbE9K4hH7WMbojvhOeFsBY2M" width="640" height="480"></iframe>

</div>

<div class="wrapperTwitter">

    <div class="homepageTwitter">

        <a class="twitter-timeline" data-theme="light" data-link-color="#2B7BB9" href="https://twitter.com/Ma3Route?ref_src=twsrc%5Etfw">Tweets by Ma3Route</a>

        <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

    </div>

</div>

<h2>Legends</h2>

<ul class="list-unstyled">
    {{#each model.legends as |legend|}}
        {{legend-tile legend=legend}}
    {{/each}}
</ul>
