
  <div class="col-md-8">
    <div class="row" id="cover">
      <div class="col-md-6" >
<<<<<<< HEAD
        <h2 class="descriptionHeader">Description</h2>
        <p class="descriptionDetail">This app allows one to get updates on traffic on different routes.<br>
        On the map below, there are 6 different routes that are shown. Pick one route on<br>
       the right and get real-time updates</p>
      </div>
      <div class="col-md-2">
<<<<<<< HEAD
        <h2>Routes</h2>
=======
        <h2 class="routesHeader">Legends</h2>
>>>>>>> 856b7be66315e485e95c56a316588928f40f804c
=======
        {{!-- <button id="hamburger" style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</button> --}}
        <h1>Traffic Tracker</h1>
        <h1>Description</h1>
        <h3>This app allows one to get updates on traffic on different routes.<br>
        On the map below, there are 6 different routes that are shown. Pick one route one<br>
       the right and get real-time updates</h3>
      </div>
      <div class="col-md-2">
        <h2>Routes</h2>
>>>>>>> a3dec403c9d3b5786e6cf76a6f944855005df94b
        <ul class="list-unstyled">
          {{#each model.legends as |legend|}}
            {{legend-tile legend=legend}}
          {{/each}}
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="homepageMap">

        <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1XtWfbE9K4hH7WMbojvhOeFsBY2M" width="600" height="450"></iframe>

      </div>
    </div>
  </div>
  <div class="col-md-4 twitterColumn">
    <div class="wrapperTwitter">
      <div class="homepageTwitter">
        <a class="twitter-timeline" data-theme="light" data-link-color="#2B7BB9" href="https://twitter.com/Ma3Route?ref_src=twsrc%5Etfw">Tweets by Ma3Route</a>
        <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
    </div>
  </div>
