<div class="row">

    <div class="col-md-8">
        
        <h3>{{legend.legendName}}</h3>

        <iframe class="legendMap" src= {{legend.link}} width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>   
    
    </div>

    <div class="col-md-4 reviewColumn">

        <ul>
          {{#each legend.reviews as |review|}}
            {{review-tile review=review}}
          {{/each}}
        </ul>

        {{new-review legend=legend saveAnswer="saveAnswer"}} 

    </div>

</div>



