<form class="form-group">
  <label for="userName">Your Name:</label> {{input class="form-control" value=userName id="userName"}}
  <label for="comment">Comment:</label> {{textarea class="form-control" value=comment id="comment"}}
  <button type="button" class="btn btn-success" {{action 'saveAnswer'}}>Save</button>
</form>
