<li>
<<<<<<< HEAD
  {{#link-to 'legend' legend.id}}<p class="routesList">{{legend.legendName}}</p>{{/link-to}}
=======
  {{#link-to 'legend' legend.id}}<h3 class="home btn btn-info">{{legend.legendName}}</h3>{{/link-to}}
>>>>>>> a3dec403c9d3b5786e6cf76a6f944855005df94b
</li>
