<div class="container-fluid">

  <h1 class="appName">Traffic Tracker</h1>

  <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    {{#link-to 'index'}}<a>Home</a>{{/link-to}}
    <a data-toggle="modal" data-target="#aboutModal">About</a>
    <h3 class="routeSideNav">Routes</h3>
    <ul>
      {{#link-to 'legend' 0}}<h3 class="btn nyayoRoute">Nyayo - JKIA</h3>{{/link-to}}
      {{#link-to 'legend' 1}}<h3 class="btn rongaiRoute">Nyayo - Rongai</h3>{{/link-to}}
      {{#link-to 'legend' 2}}<h3 class="btn lenanaRoute">Lenana - Town</h3>{{/link-to}}
      {{#link-to 'legend' 3}}<h3 class="btn safaricomRoute">Safaricom Stage - Town</h3>{{/link-to}}
      {{#link-to 'legend' 4}}<h3 class="btn roysambuRoute">Roysambu - Town</h3>{{/link-to}}
      {{#link-to 'legend' 5}}<h3 class="btn universityRoute">University Way - Nyayo</h3>{{/link-to}}
    </ul>
  </div>

  <span class="hidden-sm hidden-xs" id="hamburger" style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>



  <!-- About Modal -->
  <div class="modal fade" id="aboutModal" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
          <h4 class="modal-title">About Traffic Tracker</h4>
        </div>
        <div class="modal-body">
          <h4>Traffic Tracker is a simple application that helps users to not only be able to view various traffic routes and their status but also interract<br>
          with other users on the specific route. We have provided an interractive social aspect i.e twitter and a comment section<br>
        The comment section aids users to update on the route status e.g Road Accidents, traffic has cleared while the twitter section give users live updates from ma3Route twitter page </h4>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
<div class="row" id="main">
  {{outlet}}
</div>
</div>
